@import '/src/index.scss';

.cabinet {
   &__inner {
      position: relative;
      z-index: 10;
      max-width: em(800);
      padding-bottom: em(60);
      margin: 0 auto;

      @media screen and (max-width:$sm) {
         padding-bottom: em(25);
      }
   }

   &__title {
      text-align: center;
      font-size: em(120);
      color: $green;
      rotate: -4deg;
      margin-bottom: em(40, 120);
      line-height: 1;

      @media screen and (max-width:$xl) {
         font-size: em(90);
      }

      @media screen and (max-width:$md) {
         font-size: em(60);
      }

   }

   &__form {
      display: grid;
      width: em(524);
      grid-template-columns: repeat(2, 1fr);
      gap: em(24);
      margin: 0 auto em(24) auto;
   }

   &__formLabel {
      display: block;
      padding-left: em(31);
      margin-bottom: em(8);

      @media screen and (max-width:$sm) {
         padding-left: em(25);
      }
   }

   &__formFile {
      position: relative;
      display: flex;
      align-items: center;

   }

   &__fileLabel {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: em(11) em(32);
      gap: em(15);
      border: rem(2) solid $pink;
      border-radius: rem(30);
      color: $gray;
      min-height: em(56);
      transition: $transition;
      cursor: pointer;

      &>span {
         display: block;
         width: 100px;
         flex-grow: 1;
         overflow: hidden;
         white-space: nowrap;
         text-overflow: ellipsis;
      }

      @media screen and (max-width:$sm) {
         padding: em(12) em(24);
         min-height: em(49);
      }
   }

   &__formSubmit {
      margin: 0 auto;
   }
}