@import '/src/index.scss';

.button {
   position: relative;
   width: fit-content;
   display: flex;
   align-items: center;
   justify-content: center;
   text-transform: uppercase;
   transition: all 0.2s ease;

   &__border {
      position: absolute;
      z-index: -1;
      top: 50%;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translateY(-50%);
   }

   &__bg {
      position: absolute;
      z-index: -1;
      top: em(2);
      left: em(5);
      width: 100%;
      height: 100%;
      visibility: hidden;
      opacity: 0;
      transition: all 0.2s ease;
   }

   &:hover &__bg {
      opacity: 1;
      visibility: visible;
   }
}