@import './scss//null.scss';
@import './scss/UI.scss';
@import './scss/mixins.scss';


body {
  font-family: 'Mega Sans S';
  color: #fff;
  font-weight: 400;
  font-size: em(16);

  @media screen and (min-width: em(1400)) {
    font-size: clamp(1rem, -0.4rem + 1.6vw, 1.7rem)
  }
}

.container {
  position: relative;
  max-width: em(1200);
  padding: 0 10px;
  margin: 0 auto;
}